<!DOCTYPE html>
<html lang="zh" class="font-PFSC">
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" content="#3956CA" />
        <meta content="telephone=yes" name="format-detection" />
        <meta name="apple-mobile-web-app-title" content="<%- VITE_APP_NAME %>" />
        <meta name="x5-fullscreen" content="true" />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Cache" content="no-cache" />
        <meta name="format-detection" content="telephone=yes" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta name="keywords" content="<%- VITE_APP_NAME %>" />
        <meta name="description" content="<%- VITE_APP_NAME %>" />
        <link rel="apple-touch-startup-image" href="/ic_launcher_192.png" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="192x192" href="/ic_launcher_192.png" />
        <link rel="shortcut icon" href="/ic_launcher_192.png" />
        <link rel="manifest" href="/manifests.json" />
        <title><%- VITE_APP_NAME %></title>
    </head>
    <body>
        <div id="app" class="iconfont"></div>
        <script src="https://g.alicdn.com/AWSC/AWSC/awsc.js"></script>
        <script type="module" src="/src/main.ts"></script>
    </body>
</html>
