@font-face {
    font-family: "Roboto";
    src: url("./roboto_medium.ttf") format("truetype");
}
@font-face {
    font-family: "DINRegular";
    src: url("./DIN_Regular.ttf") format("truetype");
}
@font-face {
    font-family: "DINAlternateBold";
    src: url("./DIN_Alternate_Bold.ttf") format("truetype");
}
@font-face {
    font-family: "OPPOSansRegular";
    src: url("./OPPOSansRegular.woff") format("woff");
}
@font-face {
    font-family: "OPPOSansMedium";
    src: url("./OPPOSansMedium.woff") format("woff");
}
@font-face {
    font-family: "OPPOSansBold";
    src: url("./OPPOSansBold.woff") format("woff");
}
@font-face {
    font-family: "AbhayaLibre-SemiBold";
    src: url("./AbhayaLibre-SemiBold.ttf") format("truetype");
}
